.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {

  background-repeat: no-repeat;
  background-position:center center;
  background-size: cover;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

.d-flex.justify-content-center.py-3{
  background-color: white;
  position: sticky;
    top: 0;
    z-index: 1000; /* Ajusta el z-index según sea necesario */
    padding: 10px; /* Ajusta el relleno según sea necesario */
    /* Agrega más estilos según tus preferencias */
    border-bottom: 2px  solid black;

}